@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
}

h1 {
    color: #353535;
    margin-bottom: 30px;
}

input {
    margin-top: 10px;
    border: 1px solid black;
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background: rgb(255, 32, 162);
    color: white;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.start:disabled {
    background: #a5a5a5;
    color: #3d3d3d;
}